.header-geral {
    margin-bottom: 30px;
    width: 100%;
    //height: 280px;
    background-size: cover;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        @include background-gradient(transparent, #000000, vertical);
        @include opacity(.8);
    }
}

.header-geral-titles {
    position: absolute;
    width: 100%;
    height: 200px;
    color: #ffffff;
    z-index: 9999;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    h1,
    h2 {
        @include margin(0, 0);
    }
    h1 {
        margin-bottom: 10px;
        @include font-size(2);
    }
    h2 {
        @include font-size(1.2);
    }
    &.dog-name {
        @include justify-content(flex-end);
        color: #ffffff;
        z-index: 9999;
    }
}

.caes {
    .caes-card-list {
        margin-bottom: 15px;
    }
    @include padding(0, 0);
    @include margin(0, 0);
    .caes-card {
        @include flexbox;
        @include justify-content(flex-end);
        @include flex-direction(column);
        text-decoration: none;
        cursor: pointer;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 250px;
        &:visited {
            color: #ffffff;
        }
        .caes-card-raca,
        .caes-card-desc {
            width: 100%;
            @include margin(0, 0);
        }
        .caes-card-info {
            @include padding(10px, 10px);
            @include background-gradient(transparent, #000000, vertical);
            @include opacity(.8);
        }
    }
}

.header-geral {
    width: 100%;
    height: 200px;
    background-size: cover;
    //background: url('#{$path-img}/dog-finder-banner.jpg') center -40px;
}