<!-- recebe os dados do cão -->
<div class="container">
    <section>
        <article *ngFor="let dogDetail of dogsDetails">
            <h1>{{ dogDetail.name }}</h1>
            <div class="details-info">
                <p>{{ dogDetail.life_span }}</p>
                <p>{{ dogDetail.bred_for }}</p>
                <p>{{ dogDetail.breed_group }}</p>
                <p>{{ dogDetail.temperament }}</p>
                <p>{{ dogDetail.weight.imperial }}</p>
                <p>{{ dogDetail.weight.metric }}</p>
                <p>{{ dogDetail.height.imperial }}</p>
                <p>{{ dogDetail.height.metric }}</p>
            </div>
        </article>
    </section>
</div>