<header>
    <div class="header-geral" [ngStyle]="{'background-image': getUrl()}">
        <div class="header-geral-titles">
            <h1>The Dog Finder</h1>
            <h2>Everything about your pet</h2>
        </div>
    </div>
</header>

<div class="container">
    <ul class="caes">
        <li class="caes-card" *ngFor="let dog of dogList">
            <!-- fazer um ng if para verificar qual imagem receber -->
            <a class="caes-card" [routerLink]="['/dog6']" routerLinkActive="router-link-active" *ngIf="dog.id == 6" style="background: url(../../assets/images/6.jpg); background-size: cover;">
                <h1 class="caes-card-raca"> {{ dog.name }} </h1>
                <h2 class="caes-card-desc"> {{ dog.temperament }} </h2>
            </a>

            <a class="caes-card" [routerLink]="['/dog16']" *ngIf="dog.id == 16" style="background: url(../../assets/images/16.jpg); background-size: cover;">
                <h1 class="caes-card-raca"> {{ dog.name }} </h1>
                <h2 class="caes-card-desc"> {{ dog.temperament }} </h2>
            </a>

            <a class="caes-card" [routerLink]="['/dog81']" *ngIf="dog.id == 81" style="background: url(../../assets/images/81.jpg); background-size: cover;">
                <h1 class="caes-card-raca"> {{ dog.name }} </h1>
                <h2 class="caes-card-desc"> {{ dog.temperament }} </h2>
            </a>

            <a class="caes-card" [routerLink]="['/dog121']" *ngIf="dog.id == 121" style="background: url(../../assets/images/121.jpg); background-size: cover;">
                <h1 class="caes-card-raca"> {{ dog.name }} </h1>
                <h2 class="caes-card-desc"> {{ dog.temperament }} </h2>
            </a>
        </li>

    </ul>
</div>